#login-page {
  background: url('/images/september.jpg') no-repeat;
  background-size: cover;
}

.remember-forgot-password {
  font-size: 13px;
  margin-top: 8px;
  display: flex;
  align-items: center;
}

#remember-me {
  flex-grow: 1;
}

#forgot-password {
  font-weight: 500;
}

.social-logins {
  margin-top: 35px;
}

.social-logins > button {
  text-transform: capitalize;
  font-size: 12px;
}

.login-register {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
